/* Variables proyecto */
  /* color */
  $color-disabled: #a1e3ff;
  $color-secondary-01: #ffa726;
  $color-secondary-02: #4caf50;
  $color-secondary-03: #ffffff;
  $color-secondary-04: #ff5252;
  $color-secondary-05: #27292a;
  $color-support-01: #8dcc52;
  $color-support-02: #f9ea47;
  $color-support-03: #ff2100;
  $color-support-04: #00cffd;
  $color-hover: #006996;
  $color-off: #f2fbff;
  $color-primario: #8b1fbc;
  /* number */
  $tipografia-altura-caption: 1rem;
  $tipografia-altura-extrasmall: 1rem;
  $tipografia-altura-h4: 1.5rem;
  $tipografia-altura-paragraph: 1.5rem;
  $tipografia-altura-small: 1.5rem;
  $tipografia-altura-tags: 1.5rem;
  $tipografia-altura-h2: 3rem;
  $tipografia-altura-h3: 3rem;
  $tipografia-altura-h1: 4.5rem;
  $tipografia-espaciado-parragraph-espaciado: 2rem;
  $tipografia-espaciadoletras-espaciado: 0rem;
  $tipografia-tamaño-caption: 0.75rem;
  $tipografia-tamaño-extra-small: 0.75rem;
  $tipografia-tamaño-small: 0.875rem;
  $tipografia-tamaño-h4: 1rem;
  $tipografia-tamaño-paragraph: 1rem;
  $tipografia-tamaño-h3: 1.625rem;
  $tipografia-tamaño-h2: 2.625rem;
  $tipografia-tamaño-h1: 4.25rem;
  /* string */
  $tipografia-fuente-lato: Lato;
  $tipografia-fuente-verdana: Verdana;
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
